:host {
  display: block;
  height: 100vh; 
  background-image: url('https://i.ibb.co/Cpc00bbg/Fondo-2.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  border-radius: 12px;
  margin-top: 100px;
  margin-left: 140px;
  width: 1000px; 
}