:host {
  display: block;
  height: 100vh; 
  background-image: url('https://i.ibb.co/fVfsSj2g/Fondo.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.card {
  border-radius: 12px;
  margin-top: 100px;
  width: 450px; 
}

.password-wrapper {
  position: relative;
  width: 100%;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
}

.toggle-eye {
  width: 22px;
  height: 22px;
  position: absolute;
  right: 10px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding-right: 45px; 
}

.password-wrapper .toggle-eye {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 22px;
  height: 22px;
  transform: translateY(-50%);
  cursor: pointer;
  opacity: 0.7;
}

.password-wrapper .toggle-eye:hover {
  opacity: 1;
}

