<app-header></app-header>
<div class="container mt-5">
  <div class="card shadow-lg p-4">
    <h1 class="text-center mb-4">AES (Advanced Encryption Standard)</h1>

    <p class="fs-5">
      AES es un algoritmo de cifrado simétrico considerado uno de los más
      seguros en la actualidad. Es utilizado en conexiones HTTPS, redes WiFi,
      VPNs, bancos y servicios gubernamentales.
    </p>

    <p class="fs-5">
      En esta aplicación podrás probar la encriptación y desencriptación usando
      AES con una clave fija.
    </p>
  </div>
</div>
