:host {
  display: block;
  height: 100vh; 
  background-image: url('https://i.ibb.co/fVfsSj2g/Fondo.jpg'); 
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.card {
  border-radius: 12px;
  margin-top: 20px;
  width: 400px; 
}

.password-wrapper {
  position: relative;
}

.password-wrapper input {
  width: 100%;
  padding-right: 40px;
}

.password-wrapper img {
  position: absolute;
  right: 10px;
  top: 50%;
  width: 20px;
  transform: translateY(-50%);
  cursor: pointer;
}
